<section class="container">
  <div class="nav">
    <button mat-button [ngClass]="{'active':currentPath.toLowerCase()==''}">home</button>
    <button *ngFor="let category of categories" mat-button [routerLink]="['category',category]"
            [ngClass]="{'active':currentPath.toLowerCase().includes(category.toLowerCase())}"
    >{{category}}</button>


  </div>
  <div class="search">
    <div class="search-container">
      <input type="text">
      <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>

    </div>
  </div>
</section>
