<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{article.title}}</mat-card-title>
    <mat-card-subtitle>user - {{article.date_creation  }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="article.img" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{article.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="like()">LIKE {{article.likes}}</button>
    <button mat-button>{{article.comments.length}}</button>
    <button [routerLink]="['article',article.id]" mat-button>Details</button>
  </mat-card-actions>
</mat-card>


